
# Playwright
node_modules/
/test-results/
/playwright-report/
/setup/auth/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.DS_Store (macOS)
Thumbs.db (Windows)
.env
.env.local
*.log
npm-debug.log*
*.tmp
*.temp